ipch/
.cvsignore
CVS/
bin/
obj/
Debug/
Release/
Kitting/Kits/
*Visual Studio 2010*
*.trx
*.suo
*.sdf
*.user
*.ncb
*.Moles.xml
*.dll
Kitting/BuildScripts/*.bat
Kitting/BuildScripts/*.log
Kitting/BuildScripts/localbuild.txt
BuildScripts/*.bat
localbuild.txt
*.sdf
*.opensdf
/Source/TestResults
/Source/packages/
/Source/ipch/
CA_BackupSBReg_Tester/
CA_IsRestoreSBReg_Tester/
Wix-Installer/
WCA_IsRestoreSBReg_Tester/
EnterpriseWIXTest/
*.vsmdi
_IsIcoRes.Exe
*.isr
*.obs
build/
lib/
node_modules/
packages/