body {
	font: 12px Arial;
}

.grid {
	stroke-width: 0.5px;
	stroke: steelblue;
	fill: none;
	opacity: 0.5;
}

.axis {
	stroke-width: 3px;
	stroke: black;
	fill: none;
}

g.item circle {
	fill: black;
	stroke: none;
}

svg {
	border: 1px solid #CCCCCC;
}

text {
	font: 12px sans-serif;
}

.mdi-toolbar {
	z-index: 99;
	font-size: 1rem;
	min-height: auto;
	margin-bottom: 15px;
}

.navbar-header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	flex-grow: 1;
}

.navbar-brand {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-grow: 1;
	position: relative;
}