/** Common*/
:root {
	font-size: 16px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height:100%;
}

span, h1 {
	font-size: 0.875rem;
	font: 12px Arial;
}

.cursor {
	cursor: pointer;
}

.glyphicon {
	margin-right: 5px;
}
/** End Common*/

/** Diagram */
.grid {
	stroke-width: 0.5px;
	stroke: steelblue;
	fill: none;
	opacity: 0.5;
}

.axis {
	stroke-width: 3px;
	stroke: black;
	fill: none;
}

g.item circle {
	fill: black;
	stroke: none;
}

svg {
	border: 1px solid #CCCCCC;
}

text {
	font: 12px sans-serif;
}
/** End Diagram*/


/** Menu*/
.title-higlight {
	font-size: xx-large !important;
	color: #6ab97f;
}

.mdi-toolbar {
	z-index: 99;
	margin-bottom: 15px;
	background-color: #0E5824 !important;
}

	/**Toolbar Color*/
	.mdi-toolbar li a {
		color: #FFFFFF
	}

	.mdi-toolbar .glyphicon {
		font-size: 16px;
	}

.navbar {
	margin-bottom: 0;
}

.navbar-header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	flex-grow: 1;
}

.navbar-brand {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-grow: 1;
	position: relative;
}

.navbar-nav > li {
	padding: 0;
	margin: 0;
	white-space: nowrap;
	text-align: left;
	border: none;
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	flex-direction: row;
	flex-grow: 1;
}

	.navbar-nav > li:hover {
		background-color: transparent;
	}

		.navbar-nav > li:hover a {
			font-weight: 500;
			color: #FFFFFF;
			transition: all .3s;
		}

	.navbar-nav > li:active {
		background-color: transparent;
		border: none;
	}

	.navbar-nav > li > a {
		flex-grow: 1;
		flex-direction: row;
		display: flex;
		justify-content: space-around;
	}

		.navbar-nav > li > a:hover {
			text-decoration: none;
		}
/** End Menu*/