body {
	font: 12px Arial;
}

.grid {
	stroke-width: 0.5px;
	stroke: steelblue;
	fill: none;
	opacity: 0.5;
}

.axis {
	stroke-width: 3px;
	stroke: black;
	fill: none;
}

g.item circle {
	fill: black;
	stroke: none;
}

svg {
	border: 1px solid #CCCCCC;
}

text {
	font: 12px sans-serif;
}